node/robotROS/__pycache__/*.pyc
node/__pycache__/*
Characters/*
Character/*
node/robotROS/robotHelpers/__pycache__/*
node/neuralNetwork/*.h5
Validation/*
newCharacters/*
node/neuralNetwork/__pycache__/*.cpython-38.pyc
node/robotROS/__pycache__/*.cpython-38.pyc
